body {
  font-family: 'Poppins', sans-serif;
  background: #f7f5f2;
  margin: 0;
  color: #333;
}

header {
  text-align: center;
  padding: 40px;
}

.produk {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  padding: 30px;
}

.card {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card a {
  display: block;
  margin-top: 15px;
  padding: 12px;
  background: #d6cfc7;
  color: #000;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
}